/* style de ma page */

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    background-color: #0B1C33;
    color: white;
    font-family: "Merriweather", serif;
    padding-top: 120px;
}

h1, h2, h3 {
    color: #D4AF37;
    text-align: center;
    margin-bottom: 20px;
}

/* mon header */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0B1C33;
    border-bottom: 2px solid #D4AF37; /* ma ligne dorée */
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

nav img {
    height: 120px;
    margin-right: 20px;
}

nav p {
    color: #D4AF37;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: #D4AF37;
}

/* la citation */

.citation {
    text-align: center;
    padding: 45px 20px;
    font-style: italic;
    font-size: 40px;
}

.citation blockquote {
    color: #D4AF37;
    margin-bottom: 10px;
}

.citation .auteur {
    font-size: 25px;
}

/* l'introduction */

.intro {
    text-align: center;
    padding: 30px 20px;
}

.intro-img {
    width: 50%;
    display: block;
    margin: 20px auto;
    border: 2px solid #D4AF37; /* ligne dorée comme en haut (cadre) */
}

.intro-texte {
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
}

/* l'histoire */

.histoire {
    text-align: center;
    padding: 30px 20px;
}

.img-histoire {
    width: 50%;
    display: block;
    margin: 20px auto;
    border: 2px solid #D4AF37; /* ligne dorée comme en haut (cadre) */
}

.histoire-texte {
    max-width: 800px;
    margin: 20px auto;
    font-size: 17px;
}

/* rectangle (bouton) pour voir les autres pages */
.bouton {
    background-color: #D4AF37;
    color: #0B1C33;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.bouton:hover {
    background-color: white; /* effet de couleur quand on passe avec la souris */
}

/* les passagers */

.passagers {
    padding: 40px 20px;
    text-align: center;
}

.passagers-grille {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.carte-passager {
    width: 220px;
    background-color: #0F223D;
    border: 2px solid #D4AF37; /* ligne dorée comme en haut (cadre) */
    padding: 15px;
    text-align: center;
}

.carte-passager img {
    width: 100%;
    height: 270px;
    border-bottom: 2px solid #D4AF37; /* ligne dorée comme en haut (cadre) */
    margin-bottom: 10px;
}

/* le tableau */

.tableau {
    padding: 40px 20px;
}

table {
    width: 45%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #D4AF37;
    color: #0B1C33;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #D4AF37; /* ligne dorée : me permettra de séparer les colones */
}

/* le footer */

footer {
    background-color: #071426;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 2px solid #D4AF37; /* ligne dorée */
}

footer a {
    color: #D4AF37;
    text-decoration: none;
}

/* affichage sur mes autres appareils  */

@media (max-width: 800px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
    }

    .intro-img,
    .img-histoire {
        width: 90%;
    }

    .passagers-grille {
        flex-direction: column;
    }
}
